<!DOCTYPE html>
<script src="Scripts/angular.min.js"></script>

<script>
    (function () {
        var app = angular.module("app", []);

        app.controller("GameListController", ["$http", "$scope", function ($http, $scope) {
            var vm = this;
            
            vm.games = [];

            vm.title = "Game List";            
            
            vm.newGameId = "";
            vm.newName = "";
            vm.newReleaseYear = "";
            vm.newRating = "";
            vm.newPublisher = "";
            vm.newDescription = "";
            vm.newGenre = "";
            
            vm.editGameId = "";
            vm.editName = "";
            vm.editReleaseYear = "";
            vm.editRating = "";
            vm.editPublisher = "";
            vm.editDescription = "";
            vm.editGenre = "";

            $scope.activate = function () {
                $http.get("api/Game").then(function (response) {
                    vm.games = response.data;
                });
            }

            $scope.addGame = function () {
                $http({
                    url: "api/Game/Add",
                    method: "GET",
                    params: {
                        name: vm.newName,
                        releaseYear: vm.newReleaseYear,
                        rating: vm.newRating,
                        publisher: vm.newPublisher,
                        description: vm.newDescription,
                        genre: vm.newGenre,
                    }
                }).then(function (response) {
                    vm.newGameId = response.data.gameId;
                });

                vm.games.push({
                    'GameId': vm.newGameId,
                    'Name': vm.newName,
                    'ReleaseYear': vm.newReleaseYear,
                    'Rating': vm.newRating,
                    'Publisher': vm.newPublisher,
                    'Description': vm.newDescription,
                    'Genre': vm.newGenre,
                });
            };
            
            // https://stackoverflow.com/questions/26459525/how-to-modify-and-update-data-table-row-in-angular-js
            $scope.populateEditGame = function (gameId) {
                $http({
                    url: "api/Game/GetSingleGame",
                    method: "GET",
                    params: { gameId: gameId }
                }).then(function (response) {
                    vm.editGameId = response.data.GameId;
                    vm.editName = response.data.Name;
                    vm.editReleaseYear = response.data.ReleaseYear;
                    vm.editRating = response.data.Rating;
                    vm.editPublisher = response.data.Publisher;
                    vm.editDescription = response.data.Description;
                    vm.editGenre = response.data.Genre;
                });
            };

            $scope.editGame = function (gameId) {
                
                for(var i = 0; i < vm.games.length; i++) {
                    var game = vm.games[i];
                    if(game.GameId == gameId)
                    {
                        game.Name = vm.editName;
                        game.ReleaseYear = vm.editReleaseYear;
                        game.Rating = vm.editRating;
                        game.Publisher = vm.editPublisher;
                        game.Description = vm.editDescription;
                        game.Genre = vm.editGenre;
                        
                        $http({
                            url: "api/Edit/Update",
                            method: "GET",
                            params: {
                                gameId: game.GameId,
                                name: game.Name,
                                releaseYear: game.ReleaseYear,
                                rating: game.Rating,
                                publisher: game.Publisher,
                                description: game.Description,
                                genre: game.Genre
                            }
                        }).then(function (response) {
                            alert('success');
                        });
                    }
                }              
            };
            
            //// https://hello-angularjs.appspot.com/removetablerow
            $scope.removeGame = function (gameId) {
                var index = -1;
                var gamesArray = eval(vm.games);
                for (var i = 0; i < gamesArray.length; i++) {
                    if (gamesArray[i].GameId === gameId) {
                        index = i;
                        break;
                    }
                }
                if (index === -1) {
                    alert("Something gone wrong");
                }
                vm.games.splice(index, 1);
                
                $http({
                    url: "api/Remove",
                    method: "GET",
                    params: { gameId: gameId }
                });
            };
            
            //$scope.editingData = [];

            //for (var i = 0, length = $scope.tabelsData.length; i < length; i++) {
            //    $scope.editingData[$scope.tabelsData[i].id] = false;
            //}

            //$scope.modify = function (tableData) {
            //    $scope.editingData[tableData.id] = true;
            //};


            //$scope.update = function (tableData) {
            //    $scope.editingData[tableData.id] = false;
            //};

            $scope.activate();
            //$scope.submit();
        }]);             
    }());
</script>

<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>RavenDB Game Library</title>

    <!-- Bootstrap -->
    <link href="content/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <h1>Raven Game Catalog</h1>
    <h4>Your games, stored in RavenDB and displayed by Angular / Bootstrap</h4>
    <div ng-controller="GameListController as vm">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddGame"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Game</button>
        <h1>{{ vm.Name }}</h1>
        <table class="table table-bordered table-striped table-responsive">
            <tr>
                <th>Game Title</th>
                <th>Actions</th>
                <th>Release Year</th>
                <th>Rating</th>
                <th>Publisher</th>
                <th>Description</th>
                <th>Genre</th>
            </tr>
            <tr ng-repeat="game in vm.games">
                <td>{{game.Name}}</td>
                <td>
                    <button type="button" class="btn btn-info" ng-click="populateEditGame(game.GameId)" data-toggle="modal" data-target="#modalEditGame"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-danger" ng-click="removeGame(game.GameId)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                </td>
                <td>{{game.ReleaseYear}}</td>
                <td>{{game.Rating}}</td>
                <td>{{game.Publisher}}</td>
                <td>{{game.Description}}</td>
                <td>{{game.Genre}}</td>                
            </tr>
        </table>

        <div class="modal fade" id="modalAddGame" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New Game</h4>
                    </div>
                    <form>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="modal-body">
                                    <p>Please enter the information of a game.</p>
                                </div>
                                <div class="input-group input-group-lg">
                                <input type="text" class="form-control" placeholder="Name" ng-model="vm.newName">
                                <input type="text" class="form-control" placeholder="Release Year" ng-model="vm.newReleaseYear">
                                <input type="text" class="form-control" placeholder="Rating" ng-model="vm.newRating">
                                <input type="text" class="form-control" placeholder="Genre" ng-model="vm.newGenre">
                                <input type="text" class="form-control" placeholder="Publisher" ng-model="vm.newPublisher">
                                <input type="text" class="form-control" placeholder="Description" ng-model="vm.newDescription">
                            </div>
                        </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button ng-click="addGame()" class="btn btn-default" data-dismiss="modal">Submit</button>
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalEditGame" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Game Information</h4>
                    </div>
                    <form>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="modal-body">
                                    <p>Please enter the information of a game.</p>
                                </div>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" placeholder="Name" ng-model="vm.editName">
                                    <input type="text" class="form-control" placeholder="Release Year" ng-model="vm.editReleaseYear">
                                    <input type="text" class="form-control" placeholder="Rating" ng-model="vm.editRating">
                                    <input type="text" class="form-control" placeholder="Genre" ng-model="vm.editGenre">
                                    <input type="text" class="form-control" placeholder="Publisher" ng-model="vm.editPublisher">
                                    <input type="text" class="form-control" placeholder="Description" ng-model="vm.editDescription">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button ng-click="editGame(vm.editGameId)" class="btn btn-default" data-dismiss="modal">Save</button>
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>      
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="scripts/jquery-2.1.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="scripts/bootstrap.min.js"></script>
</body>
</html>